body{
background-color: rgb(255, 255, 255);
}

header{
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(83, 83, 83);
}

footer{
background-color: rgb(80, 80, 80);
}

 .cabecalho_imagem{
width: 200px;
height: 200px;
padding: 20px;
}


.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 10px;

}
    
