body{
background-color: rgb(184, 184, 184);
}

header{
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(80, 80, 80);
}

footer{
background-color: rgb(80, 80, 80);
}

 .cabecalho_imagem{
width: 200px;
height: 200px;
border-radius: 20%;
padding: 20px;
}

.cabecalho_menu-listaitem{

margin: 20px;

}

.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 10px;
}
 .sobre{
display: flex;
justify-content: center;
align-items: center;

 }   
.sobre_imagem{
width:400px;
height: 400px;
padding: 20px;
}

.sobre_texto{
    text-align: justify;
     width: 400px;

}

