body{
background-color: rgb(240, 3, 3);
}

header{
display: flex;
    background-color: rgb(224, 203, 8);
}

footer{
background-color: rgb(80, 80, 80);
}

 .cabecalho_imagem{
width: 200px;
height: 200px;
padding: 20px;
}


.cabecalho_menu-listaitem